# =========================
# Database
# =========================

DB_NAME=app_db
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5432
DB_HOST=localhost

# =========================
# Application
# =========================

APP_PORT=8081
ALLOWED_ORIGINS=http://localhost:5500


# =========================
# Security
# =========================

SECRET_KEY=
TOKEN_EXP=604800000
REFRESH_EXP=604800000


# =========================
# Object Storage
# =========================

STORAGE_BUCKET=mini-drive
STORAGE_REGION=us-east-1
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

STORAGE_ENDPOINT=
